@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
Home, sweet home!

@{
    object myModel;
    if (ViewData.TryGetValue("MyModel", out myModel))
    {
        TempData["MyModel"] = myModel;
    }

    object identifier;
    if (ViewData.TryGetValue("formIdentifier", out identifier))
    {
        TempData["formIdentifier"] = identifier;
    }

    if (!ViewData.ModelState.IsValid)
    {
        TempData["ModelState"] = ViewData.ModelState;
    }
}


@Html.Action("Index", "HiddenForm", new { identifier = "test1" } )

@Html.Action("Index", "HiddenForm", new { identifier = "test2" })

@Html.Action("Index", "AnotherHiddenForm", new { identifier = "test3" })
