@using ControllerHiding.Models
@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

Home, sweet home!


@{
    var model = ViewData["MyModelData"] ?? new HiddenFormModel { Name = string.Empty };
}


@Html.Action("Index", "HiddenForm", model)