@model ControllerHiding.Models.AnotherHiddenFormSuccessModel

<h2>Hello @Model.Name, thank you for submitting the form!</h2>
<p>We will send your new washing machine to <b>"@Model.Street"</b></p>
<br/>
<p><a href="/">Back</a></p>