@using ControllerHiding.Extensions
@using ControllerHiding.Models
@using ControllerHiding.Routing
@model HiddenFormModel

@{
    var hiddenFormData = new HiddenFormData()
    {
        Controller = "HiddenForm",
        Action = "MyFormAction",
        Identifier = ViewData["Identifier"]?.ToString()
    };
}


<h2>Hidden Controller</h2>

@Html.ValidationSummary("")

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="hidden" name="FormData" value="@hiddenFormData.Encrypt()" />

    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)

    <button type="submit">Send</button>
}
